.signup {
  padding: 1rem;
  padding-top: 4rem;
  overflow-y: hidden;
  border-top: 0.1rem solid white;
  border-bottom: 0.1rem solid white;
  position: relative;
  overflow-x: hidden;
  margin-top: 1rem;
  .container {
    display: grid;
    grid-template-columns: 0.7fr;
    font-size: 2.6rem;
    .content {
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
      align-items: flex-start;

      .sub-title {
        color: var(--pink);
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-size: 1.8rem;
        font-weight: 500;
      }

      .title {
        color: var(--accent-color1);
        font-size: 2rem;
      }

      .description {
        color: var(--accent-color3);
        font-size: 1.7rem;
      }

      .sign-up {
        color: var(--accent-color1);
        background-color: var(--background);
        padding: 1rem 2.8rem;
        border-radius: 3.2rem;
        border: solid 3px transparent;
        background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
          ),
          linear-gradient(101deg, var(--pink), var(--orange));
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px var(--background) inset;
        cursor: pointer;
        transition: 0.5s ease-in-out;
        font-size: 1.4rem;

        &:hover {
          box-shadow: none;
        }
      }
    }
    .image-container {
      position: absolute;
      right: 0%;
      top: 30%;

      .image {
        img {
          height: 15rem;
          z-index: 10;
        }
      }
      .ellipse-container {
        .ellipse {
          position: absolute;
          width: 10.6rem;
          height: 10.6rem;
          filter: blur(30px);
        }
        .pink {
          top: 20%;
          background-color: var(--pink);
        }
        .orange {
          top: 40%;
          bottom: 40%;
          left: 40%;
          background-color: var(--orange);
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .signup {
    padding: 2rem 4rem;
    margin-top: 6rem;

    .container {
      grid-template-columns: 1fr 1fr;

      .content {
        gap: 5.2rem !important;
        .sub-title {
          font-size: 3rem;
        }
        .title {
          font-size: 5rem;
        }
        .description {
          font-size: 2.5rem;
        }
      }
      .sign-up {
        padding: 1.6rem 4.8rem !important;
        font-size: 2rem !important;
      }
    }
    .image-container {
      position: relative !important;
      top: 0% !important;
      text-align: center;

      .image {
        img {
          width: 32.8rem;
          height: 51rem !important;
        }
      }
      .ellipse-container {
        display: none;
      }
    }
  }
}
